
.heading{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid darkgoldenrod;
    border-radius: 8px;
    cursor: pointer;

}

#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color:  blue;
}
#purple{
    background-color: purple;
}
#pink{
    background-color: pink;
}

.try{
    display: flex;
    justify-content: center;
}